.group {
  position: relative;
  margin-bottom: 10px;
  /* text-align: center; */
}

input.googleText {
  font-size: 14px;
  padding: 1px 1px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 2px solid green;
}

input.googleText:focus {
  outline: none;
}

label {
  color: green;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

input.googleText:focus~label,
input.googleText:valid~label {
  top: -20px;
  font-size: 16px;
  color: green;

}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: green;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input.googleText:focus~.bar:before,
input.googleText:focus~.bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input.googleText:focus~.highlight {
  animation: inputHighlighter 0.3s ease;
}